# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# Django
*.log
local_settings.py
db.sqlite3

# Migrations cache
*/migrations/__pycache__/

# Static & media (generated at runtime)
staticfiles/
media/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Git
.git/
.gitignore

# IDEs / Editors
.vscode/
.idea/

# Docker files (optional but common)
Dockerfile
docker-compose.yml

